
/* If there is a fullscreen button the title bar must make space for it */
body.fullscreen-enabled #titleBar {
    right: 80px;
  }
  
  body.fullscreen-enabled.mobile #titleBar {
    right: 100px;
  }
  
  #titleBar .sceneName {
    width: 300px;
    
    height: 100%;
    line-height: 30px;
    padding: 3px;
    margin:5px;
    /* background-color: rgb(58,68,84);
    background-color: rgba(58,68,84,0.8); */
    background-color:white;
    color:black;
    border:2px solid black;
    box-shadow:5px 5px black;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  
    -moz-user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;
    user-select: text;
  }
  
  .mobile #titleBar .sceneName {
    line-height: 40px;
  }
  
  #fullscreenToggle {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    padding: 15px;
    margin:5px;
    /* margin-left:20px; */
    /* background-color: rgb(103,115,131); */
    /* background-color: rgba(103,115,131,0.8); */
  }
  
  .mobile #fullscreenToggle {
    width: 50px;
    height: 50px;
  }
  
  body.fullscreen-enabled #fullscreenToggle {
    display: block;
  }
  
  #fullscreenToggle .icon {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 50px;
    height: 50px;
  }
  
  .mobile #fullscreenToggle .icon {
    top: 10px;
    right: 10px;
  }
  
  #fullscreenToggle .icon.on {
    display: none;
  }
  
  #fullscreenToggle .icon.off {
    display: block;
  }
  
  #fullscreenToggle.enabled .icon.on {
    display: block;
  }
  
  #fullscreenToggle.enabled .icon.off {
    display: none;
  }
  
  #autorotateToggle {
    display: block;
    position: absolute;
    margin:5px;
    /* background:white; */
    /* color:black; */
    top: 0;
    right: 0;
    width: 70px;
    height: 70px;
    padding: 5px;
    /* background-color: rgb(103,115,131); */
    /* background-color: rgba(103,115,131,0.8); */
  }
  
  .mobile #autorotateToggle {
    width: 50px;
    height: 50px;
  }
  
  /* If there is a fullscreen button, autorotate must placed a bit to the left */
  body.fullscreen-enabled #autorotateToggle {
    right: 40px;
  }
  
  body.fullscreen-enabled.mobile #autorotateToggle {
    right: 50px;
  }
  
  #autorotateToggle .icon {
    margin-right:15px;
    position: absolute;
    top: 5px;
    right: 5px;
    width: 50px;
    height: 50px;
  }
  
  .mobile #autorotateToggle .icon {
    top: 10px;
    right: 10px;
  }
  
  #autorotateToggle .icon.on {
    display: none;
  }
  
  #autorotateToggle .icon.off {
    display: block;
  }
  
  #autorotateToggle.enabled .icon.on {
    display: block;
  }
  
  #autorotateToggle.enabled .icon.off {
    display: none;
  }
  
  